@import '~node_modules/modern-normalize/modern-normalize.css';

html {
    scroll-behavior: smooth;
}

body{
    background-color: #F6F6F6;
}

a{
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 16px;
    @media screen and (max-width: 1439px) {
        max-width: 768px;
        padding: 0 16px;
    }
    @media screen and (max-width: 767px) {
        max-width: 375px;
        padding: 0 20px;
    }
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

button {
    display: block;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}