.dat{
    padding-top: 156px;
    display: flex;
    @media screen and (max-width: 1439px) {
        flex-wrap: wrap;
    }
    @media screen and (max-width: 767px) {
        padding-top: 96px;
    }
    &__img{
        width: 352px;
        height: 302px;
        border-radius: 50px;
        @media screen and (max-width: 1439px) {
            margin-top: 16px;
            width: 368px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 0;   
            width: 335px;
        }
    }
    &__time{
        width: 352px;
        height: 302px;
        border-radius: 50px;
        background: rgb(255, 255, 255);
        padding: 106px 110px 105px;
        @media screen and (max-width: 1439px) {
            width: 368px;
            margin-top: 16px;
            padding: 106px 118px 105px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 0;   
            width: 335px;
            padding: 96px 101px;
        }
    }
    &__min{
        margin-top: 15px;
        @include text-style(500, 24px, 1.33, #1B1B1B);
        @media screen and (max-width: 767px) {
            font-size: 20px;   
            line-height: 1;
        }
    }
    &__description{
        margin-top: 6px;
        @include text-style(400, 14px, 1.28, rgba(27, 27, 27, 0.6));
    }
}