.msgModal{
    padding: 50px;
    background-color: #F6F6F6;
    border-radius: 30px;
    width: 430px;
    &__msg{
        @include text-style(400, 16px, 1.5, #1B1B1B);
    }
    @media screen and (max-width: 767px) {
        width: 335px;        
    }
}